#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#channel-area {
  height: 300px;
  width: 300px;
}

#submit-button {
  width: 90px;
}

#output-area {
  margin-top: 50px;
}

#multi-vod-url {
  cursor: pointer;
}