#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  text-align: center;
}

.channel-list-info {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 0 auto;
}

.channel-controls {
  position: absolute;
  right: 25px;
  top: 0;
}

.save-icon {
  font-size: 25px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin-right: 5px;
}

.open-icon {
  font-size: 25px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}


#channel-area {
  height: 300px;
  width: 300px;
}

#submit-button {
  width: 90px;
}

#output-area {
  margin-top: 50px;
}

#multi-vod-url {
  cursor: pointer;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}